/* Styles specific to the index page */

#intro {
  margin: 2em 0;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  color: white;
}
#languages {
  margin: 2em 0;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  color: white;
}

article {
  margin: 2em 0;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  color: white;
}

.first-paragraph::first-letter {
  font-size: 2em;
  font-weight: bold;
  color: #ff10f0;
}

/* Table styling */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 1em 0;
}

th,
td {
  padding: 0.5em;
  text-align: left;
  border: 1px solid #ddd;
}

/* Striped table rows using nth-child pseudo-selector */
tr:nth-child(even) {
  background-color: rgba(50, 50, 50, 0.5);
}

tr:nth-child(odd) {
  background-color: rgba(70, 70, 70, 0.5);
}

thead tr {
  background-color: #aa00ff;
}
