/* Shared styles for all pages */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  position: relative;
  padding-bottom: 100px;
}

.pageLayout {
  background-image: url(/images/john-towner-JgOeRuGD_Y4-unsplash.jpg);
  /* Photo by Yousef Espanioly on Unsplash*/
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header,
main {
  padding: 1em;
}

h1,
h2,
h3 {
  color: white;
}

h1 {
  font-size: 3em;
  text-align: center;
}

.neonText {
  animation: flicker 3s infinite alternate;
  color: #ff10f0;
}

/* Navigation styling */
nav {
  display: grid;
  grid-template-columns: 1fr 8fr 2fr;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1em;
  border-radius: 0 0 10px 10px;
}

.webLinks {
  grid-column-start: 3;
}

.linkList {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  font-size: x-large;
  padding: 0;
}

.linkList li {
  margin: 0 10px;
  text-align: center;
}

.linkList a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.linkList a:hover {
  background-color: rgba(170, 0, 255, 0.5);
}

/* Active menu item styling */
.linkList a.active {
  background-color: #aa00ff;
  color: white;
}

img {
  margin: 1em;
}

p {
  line-height: 1.6;
  color: white;
}

figure {
  margin: 1em 0;
  padding: 0;
}

figcaption {
  font-style: italic;
  color: #ddd;
  padding: 0.5em 0;
}

/* Footer styling */
#footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1em 0;
}

.icons {
  display: flex;
  align-items: center;
}

.icons a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

/* Neon Sign Animation */
@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #ff10f0, 0 0 11px #ff10f0, 0 0 19px #ff10f0,
      0 0 40px #aa00ff, 0 0 80px #aa00ff, 0 0 90px #aa00ff, 0 0 100px #aa00ff,
      0 0 150px #aa00ff;
  }
  20%,
  24%,
  55% {
    text-shadow: none;
  }
}
